
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.bak
*.cache
*.log
*.lib
#Microchip
*.o
*.cof
*.map
*.err

#obj/
#[Rr]elease*/
#_ReSharper*/
#[Tt]est[Rr]esult*
